#grailsLogo {
    background-color: #5cc6cd;
}

body{
    font-family: 'Segoe UI', 'Lucida Grande', 'Ubuntu', 'sans-serif';
    font-size: medium;
    font-style: normal;
}
.footer{
    background-color: #5cc6cd;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration-color: #255b17;
}
#header {
    background: #48802c;
    padding: 2em 1em 2em 1em;
    margin-bottom: 1em;
}
a.header-main:link, a.header-main:visited {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
}
.header-sub {
    color: #fff;
    font-size: 1.25em;
    font-style: italic;
}
#footer {
    font-size: 0.75em;
    font-style: italic;
    padding: 2em 1em 2em 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    clear: both;
}
#loginHeader {
    float: right;
    color: #fff;
}
#loginHeader a{
    color: #fff;
}

.race {
    padding: 1em;
}
.race-details {
    padding-left: 2em;
}
.question {
    font-style: italic;
    font-weight: bold;
}